{% extends 'base.html' %}

{% block path %}
    <li><span>Notebooks</span></li>
{% endblock path %}

{% block board %}
    <li class="nav-parent nav-active" onmouseenter="expand(this)" onmouseleave="collapse(this)">
        <a href="{{ url_for('boardnotes.board') }}">
            <i class="fa fa-book" aria-hidden="true"></i>
            <span>Notebooks</span>
        </a>
        <ul class="nav nav-children">
            {% for board in user_boards %}
                <li>
                    <a href="{{ url_for("boardnotes.page", board_id=board[0]) }}">
                        <i class="fa fa-file-text"
                           aria-hidden="true"></i>
                        <span>{{ board[1] }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock board %}

{% block title %}
    <h2>Notebooks</h2>
{% endblock title %}

{% block subpage %}
    <div class="row">
        <div class="col-xs-12">
            <h3 class="mt-none" id="popup_hide">My Notebooks
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary pull-right" onclick="open_popup()">
                    <i class="fa fa-plus"></i>
                    Add notebook
                </button>
            </h3>
            <section class="body-sign" id="popup-form">
                <div class="center-sign">
                    <div class="panel panel-sign">
                        <div class="panel-title-sign mt-xl text-center">
                            <h3 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i>Add
                                Notebook
                            </h3>
                        </div>
                        <div class="panel-body" id="replace-popup-form">
                            <div class="form-group mb-lg">
                                <label>Name</label>
                                <div class="input-group input-group-icon">
                                    <input name="board_name" type="text" class="form-control input-lg" id="board_name"
                                           required/>
                                </div>
                            </div>

                            <div class="form-group mb-lg">
                                <label>Description</label>
                                <div class="input-group input-group-icon">
                                    <input name="board_desc" type="text" class="form-control
                                    input-lg" id="board_desc">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-primary" onclick="add_boards()">Add</button>
                                    <button class="btn btn-primary cancel" onclick="close_popup()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="body-sign" id="popup-rename-form">
                <div class="center-sign">
                    <div class="panel panel-sign">
                        <div class="panel-title-sign mt-xl text-center">
                            <h3 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i>Rename
                                Notebook
                            </h3>
                        </div>
                        <div class="panel-body" id="replace-popup-form">
                            <div class="form-group mb-lg">
                                <label>Name</label>
                                <div class="input-group input-group-icon">
                                    <input name="board_rename_name" type="text" class="form-control input-lg"
                                           id="board_rename_name"
                                           required/>
                                </div>
                            </div>

                            <div class="form-group mb-lg">
                                <label>Description</label>
                                <div class="input-group input-group-icon">
                                    <input name="board_rename_desc" type="text" class="form-control
                                    input-lg" id="board_rename_desc">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-primary" onclick="rename_boards()">Save</button>
                                    <button class="btn btn-primary cancel" onclick="close_popup_rename()">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row" id="popup_hide">
        <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg"></h5>
        {% for board in user_boards %}
            <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12">
                <section class="panel">
                    <div id="userbox" class="userbox">
                        <a href="#" data-toggle="dropdown">
                            <div class="panel-body panel-featured-left panel-featured-primary">
                                <div class="widget-summary widget-summary-xlg">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon bg-primary">
                                            <i class="fa fa-life-ring"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h3 class="title align-center"><strong>{{ board[1] }}</strong></h3>
                                            <div class="info text-muted">
                                                <strong>{{ board[2] }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul class="list-unstyled">
                                <li>
                                    <a role="menuitem" tabindex="-1"
                                       href="{{ url_for('boardnotes.page',board_id= board[0]) }}">
                                        <i class="fa fa-file-o"></i> Open Board</a>
                                </li>
                                <li>
                                    <a role="menuitem" tabindex="-1"
                                       onclick="open_popup_rename({{ board[0] }})">
                                        <i class="fa fa-pencil-square-o"></i> Rename Board</a>
                                </li>
                                <li>
                                    <a role="menuitem" tabindex="-1"
                                       href="{{ url_for('boardnotes.delete_board',
                                       board_id=board[0]) }}">
                                        <i class="fa fa-trash-o"></i> Delete Board</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        {% endfor %}
    </div>
{% endblock subpage %}


{% block javascript %}
    <script type="text/javascript">
        let board_id_temp;
        let board_name_temp;
        let board_desc_temp;

        function open_popup() {
            document.getElementById("popup-form").style.display = "block";
            document.getElementById("popup_hide").style.display = "none";
        }

        function close_popup() {
            document.getElementById("popup-form").style.display = "none";
            document.getElementById("popup_hide").style.display = "block";
        }

        function add_boards() {
            $.ajax(
                {
                    type: "POST",
                    url: "{{ url_for('boardnotes.add_board') }}",
                    data: {
                        board_name: document.getElementById("board_name").value,
                        board_desc: document.getElementById("board_desc").value
                    },
                    success: function (data) {
                        document.getElementById("popup-form").style.display = "none";
                        document.getElementById("popup_hide").style.display = "block";
                        window.location.href = "{{ url_for('boardnotes.board') }}";
                    }
                })
        }

        function open_popup_rename(board_id) {
            board_id_temp = board_id;
            document.getElementById("popup-rename-form").style.display = "block";
            document.getElementById("popup_hide").style.display = "none";
        }

        function close_popup_rename() {
            document.getElementById("popup-rename-form").style.display = "none";
            document.getElementById("popup_hide").style.display = "block";
        }

        function rename_boards() {
            $.ajax(
                {
                    type: "POST",
                    url: "{{ url_for('boardnotes.rename_board') }}",
                    data: {
                        board_id: board_id_temp,
                        board_name: document.getElementById("board_rename_name").value,
                        board_desc: document.getElementById("board_rename_desc").value
                    },
                    success: function (data) {
                        document.getElementById("popup-rename-form").style.display = "none";
                        document.getElementById("popup_hide").style.display = "block";
                        window.location.href = "{{ url_for('boardnotes.board') }}";
                    }
                })
        }

        function delete_board(boardid) {

            window.location.href = "{{ url_for('boardnotes.delete_board', board_id=boardid)}}"
        }
    </script>
{% endblock javascript %}
