/* Add here all your CSS customizations */
.logo-font {
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#popup-form {
    display: none;
}

.page-editor {
    margin-left: 0 !important;
}