{% extends 'account.html' %}

{% block container %}
    <section class="body-sign">
        <div class="center-sign">

            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-center">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Log In</h2>
                </div>
                <div class="panel-body">
                    <form method="POST">
                        <div class="form-group mb-lg">
                            <label>Username or Email</label>
                            <div class="input-group input-group-icon">
                                <input name="username_email" type="text" class="form-control input-lg" required/>
                                <span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mb-lg">
                            <div class="clearfix">
                                <label class="pull-left">Password</label>
                                <a href="{{ url_for('useraccounts.recover_password') }}" class="pull-right">Lost
                                    Password?</a>
                            </div>
                            <div class="input-group input-group-icon">
                                <input name="pwd" type="password" class="form-control input-lg" required/>
                                <span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="checkbox-custom checkbox-default">
                                    <input id="RememberMe" name="remember" type="checkbox"/>
                                    <label for="RememberMe">Remember Me</label>
                                </div>
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="submit" class="btn btn-primary hidden-xs">Log In</button>
                                <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Log In
                                </button>
                            </div>
                        </div>

                        <!-- <span class="mt-lg mb-lg line-thru text-center text-uppercase">
								<span>or</span>
                        </span>

                        <div class="mb-xs text-center">
                            <a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>
                            <a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>
                        </div> -->

                        <p class="text-center">Don't have an account yet? <a
                                href="{{ url_for('useraccounts.signup') }}">Sign Up</a>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock container %}