{% extends 'account.html' %}

<!-- start: page -->
{% block container %}
    <section class="body-sign">
        <div class="center-sign">

            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Recover Password
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <p class="m-none text-semibold h6">Enter your e-mail below and we will send you reset
                            instructions!</p>
                    </div>

                    <form method='post'>
                        <div class="form-group mb-none">
                            <div class="input-group">
                                <input name="email" type="email" placeholder="E-mail" class="form-control input-lg"
                                       required/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" type="submit">Reset</button>
                            </span>
                            </div>
                        </div>

                        <p class="text-center mt-lg">Remembered? <a href="{{ url_for('useraccounts.login') }}">Log
                            In</a>
                    </form>
                </div>
            </div>

        </div>
    </section>
{% endblock container %}
<!-- end: page -->
